.front.page {
  display: flex;
  flex-direction: column;
}

.front.page header {
  width: 100%;
  margin-top: 3.5cm;
  margin-bottom: 3cm;
  color: rgba(0, 0, 0, 0.95);
}

.front.page .title {
  font-family: 'Hahmlet-Regular';
  font-size: 2.5cm;
  font-weight: 100;
  margin-left: 2cm;
  margin-right: 2cm;
  text-align: center;
}

.front.page .subtitle {
  font-family: 'NotoSerifKR';
  font-size: 0.8cm;
  line-height: 1cm;
  font-weight: 100;
  margin-top: 0.5cm;
  margin-left: 2.8cm;
  margin-right: 3.1cm;
  text-align: right;
}

.front.page figure {
  flex: 1;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png');
  background-position: center;
  background-size: cover;
}
