.front.page {
  display: flex;
  flex-direction: column;
}

.front.page header {
  width: 100%;
  margin-top: 3.5cm;
  margin-bottom: 3cm;
  color: rgba(0, 0, 0, 0.95);
}

.front.page .title {
	font-family: '210 맨발의청춘';
	font-size: 0.85cm;
	font-weight: 100;
  margin-left: 2cm;
  margin-right: 2cm;
	text-align: center;
}

.front.page .subtitle {
	font-family: 'Didot';
	font-size: 4cm;
	line-height: 1cm;
  font-weight: 100;
  margin-top: 0.2cm;
  margin-left: 2cm;
  margin-right: 2cm;
	text-align: center;
	transform: scaleX(0.75);
}

.front.page figure {
  flex: 1;
  background-image: url(/img/cover.jpg);
  /* Or choose one of these: */
  /* background-image: url(https://live.staticflickr.com/803/27196073678_4933dba663_6k.jpg); */
  /* background-image: url(https://live.staticflickr.com/821/27169206508_4ad9132cc4_6k.jpg); */
  background-position: center;
  background-size: cover;
}
