.rear.page {
  position: relative;
}

.rear.page figure {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png');
  background-repeat: no-repeat;
  background-position-y: -20cm;
  background-position-x: -17cm;
  background-size: 93cm;
  opacity: 0.3;
  filter: grayscale(50%);
}

.rear.page .vertical {
  writing-mode: vertical-lr;
}

.rear.page .header,
.rear.page .footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'NotoSerifKR';
  color: rgba(0, 0, 0, 0.95);
  font-size: 0.4cm;
  font-weight: 200;
}

.rear.page .header {
  padding-top: 2.5cm;
  padding-left: 2cm;
  padding-right: 2cm;
  text-align: end;
}

.rear.page .footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 2cm;
  padding-right: 6.5cm;
  padding-bottom: 2.5cm;
  word-break: keep-all;
  background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
}

.rear.page .footer h3,
.rear.page .footer h6 {
  display: inline-block;
  margin-bottom: 0.2cm;
  transform: translateY(-0.2mm);
}

.rear.page .footer h3 {
  font-family: 'Hahmlet-Regular';
  font-weight: bold;
  font-size: 0.5cm;
  vertical-align: baseline;
}

.rear.page .footer p {
  line-height: 150%;
}
