.rear.page {
  position: relative;
}

.rear.page figure {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png');
  background-position: left;
  background-size: cover;
  opacity: 0.3;
  filter: grayscale(50%);
}

.rear.page .vertical {
  writing-mode: vertical-lr;
}

.rear.page .header,
.rear.page .footer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'NotoSerifKR';
  color: rgba(0, 0, 0, 0.95);
  font-size: 0.4cm;
  font-weight: 200;
}

.rear.page .header {
  padding-top: 2.5cm;
  padding-left: 2cm;
  padding-right: 2cm;
  text-align: end;
}

.rear.page .footer {
  padding-left: 2cm;
  padding-right: 6.5cm;
  padding-bottom: 2.5cm;
  top: initial;
  word-break: keep-all;
}

.rear.page h3,
.rear.page h6 {
  font-family: 'Hahmlet-Regular';
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.2cm;
}

.rear.page h3 {
  font-size: 0.5cm;
}

.rear.page h6 {
  font-size: 0.4cm;
  margin-left: 0.2cm;
}
