.spine {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  font-size: 2rem;
}

.spine .title {
  font-family: 'NotoSerifKR';
  font-weight: 100;
  margin-top: 2cm;
}

.spine .subtitle {
  margin-inline-start: 0.5rem;
  font-family: 'NotoSerifKR';
  font-weight: 100;
}

.spine .credits {
  font-family: 'NotoSerifKR';
  margin-bottom: 2cm;
  transform: translateX(-0.2mm);
}

.spine .spacer {
  flex: 1;
}
